<ifmodule mod_rewrite.c>
RewriteEngine On
#RewriteBase /webike-plus/api/
RewriteBase /
IndexIgnore *
Options -Indexes
</ifmodule>

RewriteRule ^webike-plus/api/cm-api-list[/]$ cm-api-list.php [L]
RewriteRule ^webike-plus/api/cm-api-detail[/]$ cm-api-detail.php [L]
RewriteRule ^webike-plus/api/cm-api-category[/]$ cm-api-categories.php [L]